.TodoItem {
    color: rgb(12, 7, 7);
    font-family: sans-serif, Arial;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TodoItem-Complete p {
    text-decoration: line-through;
    opacity: 0.4;
}

.TodoItem img {
    height: 30px;
    width: 30px;
}

.TodoItem p {
    margin: 0px;
    margin-left: 10px;
}