.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  padding: 20px;
  margin-top: 20px;
}